body{
    background-color: #E3EEF2;
}

.t1{
    font-weight: bolder;
    font-family: helvetica;
    font-size: 20pt;
}

.img1{
    background-image: url("source/pic01.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

.t2{
    width: 39em;
    padding-top: 25px;
    text-align: left;
}

.img2{
    background-image: url("source/pic02.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 800px;
    height: 490px;
    margin-top: 40px;
}

.t3{
    margin-top: 5px;
    width: 39em;
    padding-top: 25px;
    text-align: left;
}

.img3{
    background-image: url("source/pic03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 200px;
    margin-top: 40px;
    margin-right: 280px;
    border-radius: 10px 25px 10px 25px;
}

.img4{
    background-image: url("source/pic04.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 350px;
    height: 200px;
    margin-top: 40px;
    margin-left: 280px;
    border-radius: 10px 25px 10px 25px;
}

a{
    color: black ;
}
ul{
    margin-top: -10px;
    text-align: left;
}

h2{
    margin-top: 50px;
}

.div{
    display: flex;
    justify-content: center;
}